.header-logo {
    max-width: 277px;
}
.fastcell {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.nav-search{
    width: 375px;
}
.header-resp{
    justify-content: space-around;
    font-size: 18px;
}
.kesfet-row1 {
    flex-wrap: nowrap !important; 
    overflow: auto; 
}
.kesfet-row1::-webkit-scrollbar {
    display: none;
}
.kesfet-images-card {
    position: relative;
    margin-right: 25px;
    margin-left: 1px;
    padding-top: 8px;
    padding-right: 1px;
}
.kesfet-blurred-image {
    width: 320px;
    height: 320px;
    filter: blur(10px);
    margin-top: 12px;
    margin-left: 12px;
}
.kesfet-image-abs {
    width: 320px;
    height: 320px;
    margin-right: 20px;
    border-radius: 5%;
    margin-top: -325px;
}
.kesfet-image3 {
    margin-left: 10px;
    padding-right: 2px !important;
}
.kesfet {
    font-size: 22px;
}
.migos {
    font-size: 18px;
}
textarea:focus, input:focus{
    outline: none;
}
.son-gor {
    width: 340px;
    justify-content: space-around;
}
.nft-list {
    list-style-type: none;
  }
.nft-list img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}.nft-list p {
    margin-bottom: 0;
}
.nft-list-card {
    width: 55%;
}
.slick-list {
    padding-left: 2px !important;
}
.collection-middle {
    padding-left: 10px;
    max-width: 788px;
    height: 377px;
    margin-left: 10px;
}
.collection-middle-blurred {
    width: 237px;
    height: 162px;
    filter: blur(10px);
    margin-top: 22px;
    margin-left: 19px;
    margin-right: -3px !important;
}
.collection-middle-image{
    max-width: 237px;
    max-height: 162px;
    margin-top: -197px;
    height: 300px !important;
}
.collection-middle-resp {
    display: flex !important;
    justify-content: start;
    margin: 0 0 20px 0 !important;
    max-width: 786px;
}
.collection-middle-word {
    margin-top: -140px;
}
p.position-absolute {
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    color: white;
}
.satis-row {
    flex-wrap: nowrap !important; 
    overflow: auto; 
}
.satis-row::-webkit-scrollbar {
    display: none;
}
.satista-olanlar {
    margin-top: 3px;
    border-radius: 1rem!important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
    width: 255px;
    height: 420px;
    margin-right: 5px;
    margin-left: 27px;
    margin-bottom: 20px
}
.sale-font-size {
    font-size: 10px;
}
.satis-img {
    width: 255px;
    height: 160px;
    padding: 10px;
}
.satis-body {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.collection-down {
    flex-wrap: nowrap !important; 
    overflow: auto; 
    min-height: 200px;
}
.collection-down::-webkit-scrollbar {
    display: none;
}
.collection-down-card {
    position: relative;
    margin-right: 5px;
    height: 200px !important;
    padding-right: 22px !important;
    margin-top: 10px;
}
.collection-down-blurred {
    width: 250px;
    height: 150px;
    filter: blur(10px);
    margin-top: 12px;
    margin-left: 10px;
}
.collection-down-image-wrapper {
    flex-wrap: wrap;
}
.collection-down-image-wrapper>div>div>img {
    width: 237px;
    height: 162px;
}
.collection-down-image {
    width: 237px;
    top:0;
    left:0;
    margin-top: 8px;
    padding-top: 5px !important;
}
.footer-row {
    max-width: 975px;
    margin: auto;
}
@media (max-width:992px) {
    .collection-middle-resp{
        justify-content: space-around;
        margin: 0;
        max-width: 524px;
    }
        .satis-sec {
            margin-top: 220px;
        }
}
@media (max-width:500px) {
    .collection-middle-resp {
        justify-content: space-around;
        margin: 0;
        max-width: 262px;
    }
        .satis-sec{
            margin-top: 750px;
        }
}
@media (max-width:992px) {
    .header-resp{
        max-width: 100%;
        justify-content: start !important;
        margin: 0 !important;  
    }
}
@media (max-width:1200px) {
    .header-logo{
        margin-left: 0 !important;
    }
}